@import '../utils/colors';

.bg-primary {
  background-color: color('brand-primary');
}

.bg-primary-dark {
  background-color: color('brand-primary-dark');
}

.bg-primary-light {
  background-color: color('brand-primary-light');
}

.bg-secondary {
  background-color: color('brand-secondary');
}

.bg-white {
  background-color: color('white');
}