@import '../utils/breakpoints';

.wrapper {
  width: 100%;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint(tiny) {
    width: 80%;
  }
  @include breakpoint(desktop) {
    max-width: $desktop;
  }
}