$margin-1-size: 4px;
$margin-2-size: 8px;
$margin-3-size: 16px;
$margin-4-size: 24px;
$margin-5-size: 32px;
$margin-6-size: 40px;

// Uniform margin
.m-1 {
  margin: $margin-1-size
}

.m-2 {
  margin: $margin-2-size
}

.m-3 {
  margin: $margin-3-size
}

.m-4 {
  margin: $margin-4-size
}

.m-5 {
  margin: $margin-5-size
}

.m-6 {
  margin: $margin-6-size
}

// Horizontal margin
.mx-1 {
  margin: 0 $margin-1-size;
}

.mx-2 {
  margin: 0 $margin-2-size;
}

.mx-3 {
  margin: 0 $margin-3-size;
}

.mx-4 {
  margin: 0 $margin-4-size;
}

.mx-5 {
  margin: 0 $margin-5-size;
}

.mx-6 {
  margin: 0 $margin-6-size;
}

// Vertical margin
.my-1 {
  margin: $margin-1-size 0;
}

.my-2 {
  margin: $margin-2-size 0;
}

.my-3 {
  margin: $margin-3-size 0;
}

.my-4 {
  margin: $margin-4-size 0;
}

.my-5 {
  margin: $margin-5-size 0;
}

.my-6 {
  margin: $margin-6-size 0;
}

// Top margin

.mt-1 {
  margin-top: $margin-1-size;
}

.mt-2 {
  margin-top: $margin-2-size;
}

.mt-3 {
  margin-top: $margin-3-size;
}

.mt-4 {
  margin-top: $margin-4-size;
}

.mt-5 {
  margin-top: $margin-5-size;
}

.mt-6 {
  margin-top: $margin-6-size;
}

// Right margin

.mr-1 {
  margin-right: $margin-1-size;
}

.mr-2 {
  margin-right: $margin-2-size;
}

.mr-3 {
  margin-right: $margin-3-size;
}

.mr-4 {
  margin-right: $margin-4-size;
}

.mr-5 {
  margin-right: $margin-5-size;
}

.mr-6 {
  margin-right: $margin-6-size;
}

// Bottom margin

.mb-1 {
  margin-bottom: $margin-1-size;
}

.mb-2 {
  margin-bottom: $margin-2-size;
}

.mb-3 {
  margin-bottom: $margin-3-size;
}

.mb-4 {
  margin-bottom: $margin-4-size;
}

.mb-5 {
  margin-bottom: $margin-5-size;
}

.mb-6 {
  margin-bottom: $margin-6-size;
}

// Left margin

.ml-1 {
  margin-left: $margin-1-size;
}

.ml-2 {
  margin-left: $margin-2-size;
}

.ml-3 {
  margin-left: $margin-3-size;
}

.ml-4 {
  margin-left: $margin-4-size;
}

.ml-5 {
  margin-left: $margin-5-size;
}

.ml-6 {
  margin-left: $margin-6-size;
}