$padding-1-size: 4px;
$padding-2-size: 8px;
$padding-3-size: 16px;
$padding-4-size: 24px;
$padding-5-size: 32px;
$padding-6-size: 40px;

// Uniform Padding
.p-1 {
  padding: $padding-1-size
}

.p-2 {
  padding: $padding-2-size
}

.p-3 {
  padding: $padding-3-size
}

.p-4 {
  padding: $padding-4-size
}

.p-5 {
  padding: $padding-5-size
}

.p-6 {
  padding: $padding-6-size
}

// Horizontal Padding
.px-1 {
  padding: 0 $padding-1-size;
}

.px-2 {
  padding: 0 $padding-2-size;
}

.px-3 {
  padding: 0 $padding-3-size;
}

.px-4 {
  padding: 0 $padding-4-size;
}

.px-5 {
  padding: 0 $padding-5-size;
}

.px-6 {
  padding: 0 $padding-6-size;
}

// Vertical Padding
.py-1 {
  padding: $padding-1-size 0;
}

.py-2 {
  padding: $padding-2-size 0;
}

.py-3 {
  padding: $padding-3-size 0;
}

.py-4 {
  padding: $padding-4-size 0;
}

.py-5 {
  padding: $padding-5-size 0;
}

.py-6 {
  padding: $padding-6-size 0;
}

// Top Padding

.pt-1 {
  padding-top: $padding-1-size;
}

.pt-2 {
  padding-top: $padding-2-size;
}

.pt-3 {
  padding-top: $padding-3-size;
}

.pt-4 {
  padding-top: $padding-4-size;
}

.pt-5 {
  padding-top: $padding-5-size;
}

.pt-6 {
  padding-top: $padding-6-size;
}

// Right Padding

.pr-1 {
  padding-right: $padding-1-size;
}

.pr-2 {
  padding-right: $padding-2-size;
}

.pr-3 {
  padding-right: $padding-3-size;
}

.pr-4 {
  padding-right: $padding-4-size;
}

.pr-5 {
  padding-right: $padding-5-size;
}

.pr-6 {
  padding-right: $padding-6-size;
}

// Bottom Padding

.pb-1 {
  padding-bottom: $padding-1-size;
}

.pb-2 {
  padding-bottom: $padding-2-size;
}

.pb-3 {
  padding-bottom: $padding-3-size;
}

.pb-4 {
  padding-bottom: $padding-4-size;
}

.pb-5 {
  padding-bottom: $padding-5-size;
}

.pb-6 {
  padding-bottom: $padding-6-size;
}

// Left Padding

.pl-1 {
  padding-left: $padding-1-size;
}

.pl-2 {
  padding-left: $padding-2-size;
}

.pl-3 {
  padding-left: $padding-3-size;
}

.pl-4 {
  padding-left: $padding-4-size;
}

.pl-5 {
  padding-left: $padding-5-size;
}

.pl-6 {
  padding-left: $padding-6-size;
}