@import '../utils/breakpoints';
@import '../utils/transitions';
@import '../utils/colors';

// Font sizes - mobile
// (f4—f6 remain the same size on both mobile & desktop)
$f00-size-mobile: 40px;
$f0-size-mobile: 32px;
$f1-size-mobile: 26px;
$f2-size-mobile: 22px;
$f3-size-mobile: 18px;

// Font sizes - desktop
$f00-size: 48px;
$f0-size: 40px;
$f1-size: 32px;
$f2-size: 24px;
$f3-size: 20px;
$f4-size: 16px;
$f5-size: 14px;
$f6-size: 12px;

// Font weights
$font-weight-bold: 600 !default;
$font-weight-med: 500 !default;
$font-weight-normal: 400 !default;
$font-weight-light: 300 !default;

// Line heights
$lh-condensed-ultra: 1 !default;
$lh-condensed: 1.25 !default;
$lh-default: 1.5 !default;

h1, h2, h3, h4, h5, h6, p, span, li, a {
  font-family: 'Roboto', sans-serif;
  line-height: $lh-default;

  @include breakpoint(tiny, small) {
    line-height: $lh-condensed
  }
}

a {
  text-decoration: none;
}

// Header styles

.h00 {
  font-size: $f00-size;
  font-weight: $font-weight-med;

  @include breakpoint(tiny, small) {
    font-size: $f00-size-mobile;
  }
}

.h0 {
  font-size: $f0-size;
  font-weight: $font-weight-med;

  @include breakpoint(tiny, small) {
    font-size: $f0-size-mobile;
  }
}

h1, .h1 {
  font-size: $f1-size;
  font-weight: $font-weight-med;

  @include breakpoint(tiny, small) {
    font-size: $f1-size-mobile;
  }
}

h2, .h2 {
  font-size: $f2-size;
  font-weight: $font-weight-med;

  @include breakpoint(tiny, small) {
    font-size: $f2-size-mobile;
  }
}

h3, .h3 {
  font-size: $f3-size;
  font-weight: $font-weight-med;

  @include breakpoint(tiny, small) {
    font-size: $f3-size-mobile;
  }
}

h4, .h4 {
  font-size: $f4-size;
  font-weight: $font-weight-bold;
}

h5, .h5 {
  font-size: $f5-size;
  font-weight: $font-weight-bold;
}

h6, .h6 {
  font-size: $f6-size;
  font-weight: $font-weight-bold;
}

// Font sizes

.f-1 {
  font-size: $f1-size;
}

.f-2 {
  font-size: $f2-size;
}

.f-3 {
  font-size: $f3-size;
}

.f-4 {
  font-size: $f4-size;
}

.f-5 {
  font-size: $f5-size;
}

.f-6 {
  font-size: $f6-size;
}

// Font weights
.fw-light {
  font-weight: $font-weight-light;
}

.fw-normal {
  font-weight: $font-weight-normal;
}

.fw-med {
  font-weight: $font-weight-med;
}

// Text colors
@mixin link-colors($color) {
  &:visited, &:active {
    color: color($color);
  }
}

.text-primary {
  @include link-colors('brand-primary');
  color: color('brand-primary');
}

.text-primary-dark {
  @include link-colors('brand-primary-dark');
  color: color('brand-primary-dark');
}

.text-primary-light {
  @include link-colors('brand-primary-light');
  color: color('brand-primary-light');
}

.text-secondary {
  @include link-colors('brand-secondary');
  color: color('brand-secondary');
}

.text-white {
  @include link-colors('white');
  color: color('white');
}

.text-off-white {
  @include link-colors('off-white');
  color: color('off-white');
}

.text-black {
  @include link-colors('black');
  color: color('black');
}

.text-off-black{
  @include link-colors('off-black');
  color: color('off-black');
}

// Text alignment

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Test styles
.text-bold {
  font-weight: 600;
}

.text-underline {
  text-decoration: underline;
}

.text-uppercase {
  text-transform: uppercase;
}