@import '../base/utils/colors';

.page-home__section__wrapper-large-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  height: 80vh;
  background: url('/images/large-display-background-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  .page-home__span__subheader-text {
    opacity: .8;
  }

  .page-home__a__about-link {
    @include ease-in-out(.2s);
    opacity: .5;

    &:hover {
      @include ease-in-out(.2s);
      opacity: 1;
    }
  }

  .page-home__a__subheader-link {
    @include ease-in-out(.2s);
    opacity: .8;

    &:hover {
      @include ease-in-out(.2s);
      opacity: 1;
    }
  }
}

.page-home__nav__wrapper-nav-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .page-home__a__nav-link {
    @include ease-in-out(.2s);
    opacity: .5;
    padding: 5vh 0;

    &:hover {
      @include ease-in-out(.2s);
      opacity: 1;
    }
  }
}