<section class="wrapper page-home__section__wrapper-large-display">
  <header class="container">
    <h1 class="fw-normal h1 text-off-white text-center text-uppercase mt-6 mb-4">
      Rheisen
      <%= link "Xavier",
        to: Routes.page_path(@conn, :show_about),
        class: "fw-light text-off-white page-home__a__about-link"
      %>
      Dennis
    </h1>
    <span class="d-block f-3 text-white text-center">
      <span class="page-home__span__subheader-text">(</span>
      <a href="https://en.wikipedia.org/wiki/Reason" target="_blank" class="text-white page-home__a__subheader-link">
        /ˈɹiːzən/
      </a>
      <span class="page-home__span__subheader-text">/ˈzeɪ.vjɚ/ /ˈdɛnɪs/ )</span>
    </span>
  </header>
</section>

<nav class="container row page-home__nav__wrapper-nav-display">
  <%= link "Projects",
    to: Routes.project_path(@conn, :index),
    class: "col-4 f-4 text-uppercase text-primary text-center page-home__a__nav-link"
  %>
  <%= link "Journal",
    to: Routes.journal_path(@conn, :index),
    class: "col-4 f-4 text-uppercase text-primary text-center page-home__a__nav-link"
  %>
  <%= link "Photography",
    to: Routes.photo_path(@conn, :index),
    class: "col-4 f-4 text-uppercase text-primary text-center page-home__a__nav-link"
  %>
  <%= link "Contact",
    to: Routes.page_path(@conn, :show_contact),
    class: "col-4 f-4 text-uppercase text-primary text-center page-home__a__nav-link"
  %>
</nav>