<header class="wrapper pt-4 pb-4 pl-4 component-header__header__page-header">
  <%= link "Rheisen",
      to: Routes.page_path(@conn, :index),
      class: "text-white text-uppercase f-2 component-header__a__home-link"
  %>
</header>

<nav class="component-header__nav__wrapper-page-navigation">
  <%= link "Projects",
  to: Routes.project_path(@conn, :index),
  class: "py-2 f-4 text-uppercase text-primary text-right component-header__a__page-link"
  %>
  <%= link "Journal",
    to: Routes.journal_path(@conn, :index),
    class: "py-2 f-4 text-uppercase text-primary text-right component-header__a__page-link"
  %>
  <%= link "Photography",
    to: Routes.photo_path(@conn, :index),
    class: "py-2 f-4 text-uppercase text-primary text-right component-header__a__page-link"
  %>
  <%= link "Contact",
    to: Routes.page_path(@conn, :show_contact),
    class: "py-2 f-4 text-uppercase text-primary text-right component-header__a__page-link"
  %>
  <%= link "About",
    to: Routes.page_path(@conn, :show_about),
    class: "py-2 f-4 text-uppercase text-primary text-right component-header__a__page-link"
  %>
</nav>