// $largeDesktop: 1408px !default;
// $desktop: 1216px !default;
// $laptop: 1024px !default;
// $tablet: 769px !default;
// $phablet: 576px !default;
// $mobile: 100% !default;

$tiny: 100%;
$small: 544px;
$med: 768px;
$large: 1012px;
$desktop: 1280px;

@mixin breakpoint($points...) {
  @each $point in $points {
    @if $point == desktop {
      @media only all and (min-width: $desktop) { @content ; }
    }
    @else if $point == large {
      @media only all and (min-width: $large) and (max-width: $desktop) { @content ; }
    }
    @else if $point == med {
      @media only all and (min-width: $med) and (max-width: $large) { @content ; }
    }
    @else if $point == small {
      @media only all and (min-width: $small) and (max-width: $med) { @content ; }
    }
    @else if $point == tiny {
      @media only all and (max-width: $small)  { @content ; }
    }
  }
}