$app-colors: (
    'brand-primary': rgb(65, 65, 218),
    'brand-primary-dark': #031424,
    'brand-primary-light': #8EAEBD,
    'brand-secondary': #CF6766,
    'brand-alert': #CF6766,
    'white': #ffffff,
    'black': #000000,
    'off-white': #fafafa,
    'off-black': #4A4A4A,
);

@function color($key, $option: opacity, $flex-val: null) {
  @if $option == opacity {
    @if $flex-val == null {
      $flex-val: 1;
    }
    @if map-has-key($app-colors, $key) {
      @return rgba(map-get($app-colors, $key), $flex-val);
    }

    @warn "Unknown `#{key}` in colors"
  } @else if $option == lighten {
    @if $flex-val == null {
      $flex-val: 15%;
    }
    @if map-has-key($app-colors, $key) {
      @return lighten(rgba(map-get($app-colors, $key), 1), $flex-val);
    }

    @warn "Unknown `#{key}` in colors"
  } @else {
    @warn "Unsuported option"
  }
}