@import '../base/utils/colors';
@import '../base/utils/breakpoints';


.component-header__header__page-header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: url('/images/nav-display-background-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .component-header__a__home-link {
    @include ease-in-out(.2s);
    opacity: .8;
    letter-spacing: 1px;

    &:hover {
      @include ease-in-out(.2s);
      opacity: 1;
    }
  }
}

.component-header__nav__wrapper-page-navigation {
  position: fixed;
  top: 100px;
  right: 24px;
  display: flex;
  flex-direction: column;
  align-items: right;
  white-space: nowrap;

  .component-header__a__page-link {
    @include ease-in-out(.2s);
    opacity: .5;

    &:hover {
      @include ease-in-out(.2s);
      opacity: 1;
    }
  }
}